@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Slabo+27px&display=swap");

body {
  background-image: url("https://naveedkhan98.pythonanywhere.com/static/custom-v2/images/immediate_benefits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: fit-content;
  overflow-x: hidden;
  margin: 0;
  font-family: "Slabo 27px", serif;
}

/* Style for the navbar */

header {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  text-align: right;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0000006e;
}

/* Style for the benefits container */
.benefits-container {
  max-height: 100vh;
  overflow-y: auto;
  border: 10px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

strong {
  color: #ffffff;
}

/* Style for individual benefit divs */
.benefit {
  min-height: 80vh;
  height: 80vh;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  opacity: 0.9; /* Set opacity to 1 to make them always appear */
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.605);
}

.benefit:nth-child(odd) {
  background: rgba(249, 235, 224, 0.6);
}

.benefit:nth-child(even) {
  background: rgba(212, 165, 165, 0.6);
}

/* Additional style for the benefits content */
.benefit-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.benefit-description {
  font-size: 1em;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.7rem;
}

p {
  justify-content: "center";
  margin: 20px 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(17, 16, 16, 0.681);
  color: #d4a5a5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: "Slabo 27px", serif;
  transition: background-color 0.3s;
  z-index: 999;
}

#scrollToTopBtn:hover {
  background-color: rgb(0, 0, 0);
}

#scrollToTopBtn:target {
  display: block;
}

html {
  scroll-behavior: smooth;
}
/* Form formatting */

form {
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: #f9ebe0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.605);
}

label {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .benefit {
    height: auto;
  }
}

/* container for images at bottom of index page */
.image-container {
  display: flex; /* Display images in a row */
  flex-direction: column; /* Stack images vertically */
  gap: 20px; /* Add space between images */
}

/* Apply styles to each figure element */
figure {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Add box shadow */ /* Add rounded corners */
  border-radius: 10px;
  padding: 10px; /* Add padding for spacing and aesthetics */
}

/* Apply styles to the images within the figure */
img {
  border-radius: 10px;
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain image aspect ratio */
}

/* Apply styles to the captions */
figcaption {
  text-align: center; /* Center the captions */
  margin-top: 10px; /* Add spacing between image and caption */
  color: white;
}
